
# Networking part

pg8000
flask
netius
ujson
httplib2
unidecode
sseclient-py

# Scientific part

cython # NB might be required beforehand
numpy
scipy == 1.5.4
ase
pycodcif
spglib
git+https://github.com/tilde-lab/yascheduler
