
# Networking part

pg8000
flask
netius
ujson
unidecode

# Scientific part

pyparsing <= 2.4.7
cython # NB might be required beforehand
numpy
scipy
ase
pycodcif
spglib
git+https://github.com/tilde-lab/yascheduler
aiida-core >=2.0.0,<2.1.0
git+https://github.com/tilde-lab/aiida-crystal-dft
git+https://github.com/tilde-lab/aiida-dummy
