
# Networking part

pg8000
flask
netius
unidecode

# Scientific part

pyparsing <= 2.4.7
matplotlib
numpy
scipy
ase
pycodcif
spglib <= 2.0.2
yascheduler
xylib-py # NB apt-get install libboost-all-dev
nexusformat
