[db]
user = postgres
password =
database = aiidadb
host = localhost
port = 5432

[api]
key = a-very-very-very-long-and-very-very-very-secret-string

[webhooks]
key = another-very-very-long-and-very-very-very-secret-string
calc_update = http://localhost:3000/v0/webhooks/calc_update
